<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h2>Welcome HelloController!</h2>
    <!--<h2 th:text="${name}"></h2>
    <table>
        <tr>
            <td>编号</td>
        </tr>
        <tr th:each="l : ${list}">
            <td th:text="${l}"></td>
        </tr>
    </table>
<input th:value="${mob}" />
<img th:src="@{imgs/Aws.png}" />-->
</body>
</html>